<h1>Stupid Coaching</h1>
<div id = "you" >
  <p><%= params[:question] %></p>
  <p>-you</p>

</div>

<div id = "coach" >
  <p><%= @answer %></p>
  <p>-Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
